<p>Hello there!</p>

<p>An new user account has been created on your behalf. This account was generated for your convenience.</p>

<p>Change your password by following this link: <%= link_to "Complete your signup", edit_user_url(@user, :m => @password, :e => @user.email) %></p>

<p>By creating race reminders, we will alert you when the marathon registration opens. Never miss a race again.</p>

<p>Regards,</p>

<p>The uTellmewhen Team</p>
<%= link_to "http://utellmewhen.com", root_url %>