<p>Hello <%= @user.first_name %>,</p>

<p>Thanks for creating your account with uTellmewhen!</p>

<p>By creating race reminders, we will alert you when the marathon registration opens. Never miss a race again</p>

<p>Best,</p>
<p>The uTellmewhen Team</p>
<%= link_to "http://utellmewhen.com", root_url %>