<p>Hello <%= @user.first_name %>,</p>

<p>Thanks for creating your account with TellMeWhen!</p>

<p>By creating race reminders, we will alert you when the marathon registration opens. Never miss a race again</p>

<p>Regards,</p>

<p>The TellMeWhen Team</p>
http://tellmewhen.herokuapp.com/