
<div class="steps">
	<% if @user.registered == false %>
		Thank you, we will send you an email when we find out about the registration date for the <%= params[:betold] %> race. An email has been sent to <%= params[:email] %> to complete the registration.
	<% else %>
		Edit your profile. Leave password and/or email blank if you wish to keep the same password.
	<% end %>
</div>
<div class="question">
	<% if @user.registered == false %>
		<h2>Complete your profile:</h2>
	<% else %>
		<h2>Edit your profile:</h2>
	<% end %>
	<%= render 'form' %>
</div>