<div class="page-header">
	<small><h1>Welcome</h1>Looking for your next marathon, let us know what you are looking for. We will e-mail you as soon as we know.</small>
</div>

      <%= render 'user_searches/search' %>
