<div class="box">
	<h2>Never miss a marathon registration.</h2>
	<p>Tell us the race, and we'll tell you when to register:</p>
	<%= render 'user_searches/search' %>
	<!-- <p><h3>or log in</h3></p> -->
</div>