<div class="box">
	<h2>Never miss a marathon registration again.</h2>
	<p>Keeping up with unassigned race registration dates suck. Instead, tell us the race, and we'll tell you when to take action.</p>
	
	<%= render 'user_searches/search' %>
	
	<p>Enter in the race details above, add your email or sign in, and we'll do the rest. If you're new to the site, you'll automatically receive registration information. As soon as we get the race information, we let you know. Outside of that we won't spam, clutter or putts with your hopefully empty inbox.</p>
</div>