<div class="page-header">
	<small><h1>Welcome</h1>This is an amazing application built by a french, a brown guy, and twins from two mothers. Please pay us lots of money. Thanks.</small>
</div>

      <%= render 'user_searches/search' %>
