<div class="page-header">
	<small><h1>Welcome</h1>Never miss an important event again.  Is the date not yet available?  Don't worry.  Just ask us, and we will alert you as soon as we know.</small>
</div>

      <%= render 'user_searches/search' %>
