<div class="box">
	<h2>Never miss a marathon registration.</h2>
	
	<%= render 'user_searches/search' %>
	
		<p>Tell us the race, and we'll tell you when to register.</p>
		
			<!-- <p>As soon as we get the race information, we'll let you know. We won't spam, clutter or putts with your inbox.</p> -->
		
</div>