<div class="container">
	<div class="box">
		<small><h1>Welcome</h1>Looking for your next marathon, let us know what you are looking for. We will e-mail you as soon as we know.</small>
		<%= render 'user_searches/search' %>
	</div>
</div>