// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
        background: url(DSC_3564.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

body {
	display: block;
	font-family: Sans-serif;
	height: 100%;
}

.container {
	padding-top: 10px;
	position: absolute;
	width: 100%;
}

div {
	display: block;
}

#index .container {
	padding-top: 50px;
}

.box {
	background-color: rgba(0, 0, 0, 0.75);
	border:  1px solid #fff;
	border-radius: 10px;
/*	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: transparent;
*/	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 5px;
	padding: 6px;
	text-align: center;
	width: 760px;
}

input#name, input#email {
	background-color: white;
	border: 2px solid #ffcd98;
	border-radius: 4px;
	color: #525654;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin-bottom: .5em;
	margin-top: .4em;
	max-width: 95%;
	padding: .6em .5em;
	width: 300px;
}

input#commit {
	text-align: center;
	cursor: auto;
	vertical-align: baseline;
	margin: 0;
	outline: 0;
	border: 0;
	-webkit-transition: all 0.15s linear;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9B30), to(#E06506));
	background: -webkit-linear-gradient(top, #FF9B30, #E06506);
	background: linear-gradient(top, #FF9B30, #E06506);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	color: white;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
	font: 18px/35px "Museo-700i",Georgia,serif;
	padding: 12px 30px 12px 30px;
}

.tellmewhen {
	height: 81px;
}

.tellmewhen p {
	line-height: 81px;
	margin: 0 auto;
	padding: 2px 0 0 0;
	text-align: center;
}

footer {
	color: #fff;
	font-size: 0.8em;
	text-align: center;
}

h2 {
	font: bold 42px/44px Arial;
	color: #FF9B30;
	/*font-size: 2em;*/
	padding: 20px 5px 30px 5px;
}