// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
        background: url(november2011.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

body {
	display: block;
	font-family: Sans-serif;
	text-shadow: #6374AB 1px 1px 1px;
	height: 100%;
}

.container {
	padding-top: 10px;
	position: absolute;
	width: 100%;
}

div {
	display: block;
}

#index .container {
	padding-top: 7%;
}

#thank_you .container {
	padding-top: 7%;
}

.box {
	background-color: rgba(0, 0, 0, 0.75);
	border:  1px solid #bfbfbf;
	border-radius: 10px;
/*	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: transparent;
	-moz-box-shadow: 2px 2px 1px #fff;
	-webkit-box-shadow: 2px 2px 1px #fff;
	box-shadow: 2px 2px 1px #fff;
*/	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 5px;
	padding: 6px;
	text-align: center;
	width: 760px;
}

input#name, input#email {
	background-color: white;
	border: 2px solid #ffcd98;
	border-radius: 4px;
	color: #bbb;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin-bottom: .5em;
	margin-top: .4em;
	max-width: 95%;
	padding: .6em .5em;
	width: 300px;
}

input#email {
	width: 250px;
}

.button {
	background: #F0801B;
	background: -moz-linear-gradient(top, #FF9B30, #E06506);
	background: -ms-linear-gradient(top, #FF9B30, #E06506);
	background: -o-linear-gradient(top, #FF9B30, #E06506);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF9B30), to(#E06506));
	background: -webkit-linear-gradient(top, #FF9B30, #E06506);
	background: linear-gradient(top, #FF9B30, #E06506);
	border: 0;
	-webkit-transition: all 0.15s linear;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	-o-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	color: white;
	cursor: pointer;
	font: 18px/24px Arial;
	margin: 0;
	outline: 0;
	padding: 10px 30px 10px 30px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
	vertical-align: baseline;
}

.button:hover, .button:focus, .button:active {
	background: #cdd93e;
	background: -moz-linear-gradient(top, #cdd93e, #92b70c);
	background: -ms-linear-gradient(top, #cdd93e, #92b70c);
	background: -o-linear-gradient(top, #cdd93e, #92b70c);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdd93e), to(#92b70c));
	background: -webkit-linear-gradient(top, #cdd93e, #92b70c);
	background: linear-gradient(top, #cdd93e, #92b70c);
	border: 0;
	-webkit-transition: all 0.15s linear;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	-o-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.2);
	color: white;
	cursor: pointer;
	font: 18px/24px Arial;
	margin: 0;
	outline: 0;
	padding: 10px 30px 10px 30px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
	vertical-align: baseline;
}

.tellmewhen {
	height: 61px;
}

.tellmewhen p {
	line-height: 61px;
	margin: 0 auto;
	/*padding: 2px 0 0 0;*/
	text-align: center;
}

footer {
	color: #fff;
	font-size: 0.8em;
	text-align: center;
}

footer a {
	color: #FF9B30;
	text-shadow: #000 1px 1px 1px;
}

h2 {
	font: bold 42px/44px Arial;
	text-shadow: #ffcd98 1px 1px 1px;
	color: #FF9B30;
	padding: 20px 5px 30px 5px;
}

h3 {
	color: #fff;
	font-size: 0.9em;
	text-align: center;
	/*color: #FF9B30;*/
	text-shadow: #000 1px 1px 1px;
}

form {
	font-size: 1.2em;
}