<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
	<tbody>
		<tr>
			<td>
				<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-left:auto;margin-right:auto;padding:0;border-left:15px solid #fff;border-right:15px solid #fff">
					<tbody>
						<tr>
							<td width="175">
								<a href="http://utellmewhen.com" style="border:0px;display:block;min-height:58px" target="_blank"> <img src="http://utellmewhen.com/assets/utmw_logo.gif" alt="uTellmewhen"></a>
							</td>
							<td align="right" style="text-align:right;font-family:'Lucida Sans Unicode','Lucida Grande',sans-serif;font-size:11px;font-weight:300;color:#132946"><h3 style="text-decoration:none;font-size:13px;line-height:18px;margin:0;padding:0;font-weight:100;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;color:#132946"><a href="mailto:hello@utellmewhen.com" style="text-decoration:none;color:#94aed4;font-style:italic" target="_blank">hello@utellmewhen.com</a> • </h3>
	or reply to this email
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table width="598" border="0" cellspacing="0" cellpadding="0" align="center" style="margin-left:auto;margin-right:auto;margin-top:30px">
					<tbody>
						<tr>
							<td>
								<h1 style="margin-left:20px;width:598px;font-family:Georgia,'Times New Roman',Times,serif;font-size:26px;line-height:40px;font-weight:300;color:#132946;margin-bottom:20px;margin-top:0">Dear Runner!</h1><p style="margin:0 0 15px 20px;padding:0 50px 0 0;width:548px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;line-height:30px;font-weight:300;color:#132946"><%= yield %></p>
									<p style="margin:0 0 30px 20px;padding:0;width:515px;font-family:'Trebuchet MS',Arial,Helvetica,sans-serif;font-size:14px;line-height:22px;font-weight:300;color:#132946">Cheerfully yours,<br><br>Jean Bahnik<br>Co-Founder and CEO</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
			</td>
		</tr>
		<tr>
			<td style="min-height:30px" align="center"><img src="http://utellmewhen.com/assets/utmw_line_598.png" alt="uTellmewhen"></td>
		</tr>
	</tbody>
</table>